body {
    background-color: hsl(185, 75%, 39%);

}

.card {
    font-family: 'Kumbh Sans', sans-serif;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


/* DELETE ME */
.placeholder {
    background-color: hsl(229, 23%, 23%);
    background-color: hsl(227, 10%, 46%);
    background-color: hsl(0, 0%, 59%);
}
